.App {
  text-align: center;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.2rem;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.6rem;
  background-color: #f63e7b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c00c48;
}
